<div class="container">
  <h2><%=  @cocktail.name %></h2>
    <ul>
      <% @cocktail.doses.each do |dose| %>
      <li>
        Ingredient: <%= dose.ingredient.name %>
        <br>
        Dose: <%= dose.description %>
        <br>
        <%= link_to "Delete", cocktail_dose_path(@cocktail, dose),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
      </li>
      <% end %>
    </ul>
  <%= link_to "Add doses", new_cocktail_dose_path(@cocktail.id)  %>
  <br>
  <%= link_to "Back to list", cocktails_path %>
</div>
